<div class="row bg-dark">
    <div class="col">
            <div class="navbar navbar-dark">
                <a class="navbar-brand text-white">
                    SPORTS STORE
                </a>
            </div>
    </div>
    <div class="col-3 text-white mr-1 text-right">
        <store-cartsummary></store-cartsummary>
    </div>
</div>    
<div class="row no-gutters">
    <div class="col-3">
        <store-categoryfilter></store-categoryfilter>
    </div>
    <div class="col">
        <store-product-list></store-product-list>
        <store-pagination></store-pagination>
    </div>
</div>
