<div class="navbar bg-inverse ">
    <a class="navbar-brand text-white">SPORTS STORE</a>
</div>

<h2 class="text-center mt-1">Step 2: Payment</h2>

<form novalidate #paymentForm="ngForm">
    <div class="form-group">
        <label>Card Number</label>
        <input #cardNumber="ngModel" name="cardNumber" class="form-control"
               [(ngModel)]="order.payment.cardNumber" required />
        <div *ngIf="cardNumber.invalid" class="text-danger">
            Please enter your card number
        </div>
    </div>
    <div class="form-group">
        <label>Card Expiry</label>
        <input #cardExpiry="ngModel" name="cardExpiry" class="form-control"
               [(ngModel)]="order.payment.cardExpiry" required />
        <div *ngIf="cardExpiry.invalid" class="text-danger">
            Please enter your card expiry
        </div>
    </div>
    <div class="form-group">
        <label>Security Code</label>
        <input #cardCode="ngModel" name="cardCode" class="form-control"
               [(ngModel)]="order.payment.cardSecurityCode" required />
        <div *ngIf="cardCode.invalid" class="text-danger">
            Please enter your security code
        </div>
    </div>
    <div class="text-center pt-2">
        <button class="btn btn-outline-primary" routerLink="/checkout/step1">
            Back
        </button>
        <button class="btn btn-danger" [disabled]="paymentForm.invalid"
                routerLink="/checkout/step3">
            Next
        </button>
    </div>
</form>
