@model SportsStore.Controllers.LoginViewModel

<div class="m-2">
    <h3 class="bg-primary p-2">Log In</h3>
    <div class="text-danger" asp-validation-summary="All"></div>
    <form asp-action="Login" method="post">
        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
        <div class="form-group">
            <label>Name</label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" asp-for="Password" class="form-control" />
        </div>
        <div class="text-center">
            <button class="btn btn-primary" type="submit">Log In</button>
        </div>
    </form>
</div>
