<div class="navbar bg-inverse ">    
    <div class="row">
        <div class="col">
            <a class="navbar-brand text-white">
                SPORTS STORE
            </a>
        </div>
        <div class="col text-white mr-1">
            <store-cartsummary></store-cartsummary>
        </div>
    </div>
</div>
<div class="row no-gutters">
    <div class="col-3">
        <store-categoryfilter></store-categoryfilter>
    </div>
    <div class="col">
        <store-product-list></store-product-list>
        <store-pagination></store-pagination>
    </div>
</div>
