<h2 class="text-center">Summary</h2>

<div class="container">
    <table class="table m-2">
        <tr><th>Name</th><td>{{order.name}}</td></tr>
        <tr><th>Address</th><td>{{order.address}}</td></tr>
        <tr><th>Products</th><td>{{order.cart.itemCount}}</td></tr>
        <tr>
            <th>Total Price</th>
            <td>{{order.cart.totalPrice | currency:USD:true }}</td>
        </tr>
    </table>
    <div class="text-center pt-2">
        <button class="btn btn-outline-primary" routerLink="/checkout/step2">
            Back
        </button>
        <button class="btn btn-danger" (click)="submitOrder()">
            Place Order
        </button>
    </div>
</div>
